.projects {
  /* height: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(12, 12, 48  );
  /* border: 2px solid red; */
}
h1 {
    margin-bottom: 5px;
}

.banner {
    width: 100%;
    margin-top: 5%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    /* top: 15vh; */
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 15s infinite linear;
}



.banner .slider:hover {
    animation-play-state: paused;
}
@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(-360deg);
    }
}

.banner .slider .item {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    inset: 0 0 0 0;
    border: 3px solid transparent;
    border-radius: 10%;
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) 
    translateZ(200px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.item a {
    margin-top: -15px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(3, 24, 84);
}


.projectText {
    color: white;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(12, 12, 48);
    border-radius: 10px;
    border: 2px solid rgba(11, 62, 246, 0.4 38);
}
    .banner .slider .item:hover,
    .projectText:hover {
        /* text-shadow: 3px 3px rgba(208, 224, 241, 0.338); */
        box-shadow: 1px 4px 20px rgba(11, 62, 246, 0.938);
    }