

.HeroContainer {
  background-color: rgba(1, 1, 50, 0.641);
  width: 100vw;
  padding-bottom: 5%;
}

.Hero {
  height: 50vh;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  
}

.orbitContainer {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  width: 40%;
}

.weatherText {
  display: flex;
  font-size: 12px;
  align-items: center;
}

#condition{
  width: 10em;
  display: flex;
  align-items: center;
}

#time {
  /* align-items: flex-start; */
  width: 7.5em;
  display: flex;
}

.wx {
  display: flex;
  gap: 20px;
  align-items: center;
  /* flex-wrap: wrap; */
}

.nameContainer h2 {
  font-style: italic;
  color: rgba(211, 219, 4, 0.399);
  margin: 0;
}

#locationContainer {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  display: flex;
  align-items: center;
}


#globe {
  height: 60px;
  width: 60px;
  /* margin-right: 20px; */
  margin-left: 0;
  padding-top: 10px;
  animation: rotateOnAxis 5s linear infinite;
  
}

/* Remove always-on animation from #location */
#locationContainer {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s ease-out;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

/* Slide in effect when visible */
#locationContainer.slide-in {
  opacity: 1;
  transform: translateX(0);
}


@keyframes rotateOnAxis {
  0%{
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media (max-width: 600px) {
  
  .nameContainer {
    margin-left: 10px;
  }
  .nameContainer h1 {
    font-size: 20px;
  }
  .nameContainer h2 {
    font-size: 14px;
  }
  .nameContainer h3,
  .nameContainer p {
    font-size: 12px;
  }
  .wx {
    margin-top: 40px;
    flex-wrap: wrap;
  }
}